
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
  
}

.body {
  text-align: center;
  
}

h1 {
  text-align: center;
  padding-top: 150px;
  font-weight: bold;
  font-size: 40px;
  font-weight: bolder;
}


h2 {
  text-align: center;
  padding-top: 150px;
  font-weight: bold;
  font-size: 40px;
  font-weight: bolder;
}


p {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

button {
  justify-content: center;
  text-align: center ;
  background-color: #07020e;
  color: white;
  font-size: 22px;
  padding: 12px;
 }
